* {
    overflow-x: hidden;
}

#title {
    background-color: #ff4c68;
    color: #FFF;
}

h1 {
    font-family: 'Montserrat';
    font-weight: 900;
    font-size: 3.5rem;
    line-height: 1.5;
}

h2 {
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 3rem;
    line-height: 1.5;
}

h3 {
    font-size: 1.3rem;
    font-family: "Montserrat";
    font-weight: bold;
}

body {
    min-height: 100vh;    
    font-family: 'Montserrat';
}

.container-fluid {
    padding: 3% 15% 6%;
}

/* Navigation Bar */

nav {
    background-color: #222325;
    /* box-shadow: 3px 3px 5px rgba(0,0,0,0.1); */
}

nav ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav li {
    height: 100px;
}

nav li:first-child {
    margin-right: auto;
}

nav a {
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: white;
}

nav a:hover {
    background-color: #262729;
    text-decoration: none;
}

.menu-button {
    display: none;
}

/* Sidebar CSS */

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.sidebar li {
    width: 100%;
}

.sidebar a {
    width: 100%;
}

.collapse-button {
    align-items: flex-end;
    justify-content: flex-end;
}

@media (max-width: 1024px) {
    .hideOnMobile {
        display: none;
    }

    .menu-button {
        display: block;
    }
}

@media (max-width: 400px) {
    .sidebar {
        width: 100%;
    }
}

/* 
.navbar {
    position: relative;
    padding: 0.5rem 1.7rem;
    align-items: center;
}

.navbar-brand {
    font-family: "Ubuntu";
    font-size: 2rem;
    font-weight: bold;
}

.navbar-nav {
    gap: 7.8px;
}

.nav-item {
    padding: 0 4px;
    margin-top: 9px;
}

.nav-item>a {
    color: white;
    text-decoration: none;
    font-size: 15px;
}

.nav-item>a:hover {
    color: #04d9ff;
}

.user-account-icon {
    font-size: 20px;
    color: #04d9ff;
} */

/* content */

#content {
    background-color: #222324;
    /* background-image: url(/pageViewer/static/images/54d861f96272698a3725cb3d659d4876-removebg-preview.png); */
    /* background-blend-mode: overlay; */
    /* background-position: center center; */
    /* background-repeat: no-repeat; */
    /* background-size: cover; */
    padding: 45px 0;
    /* opacity: 0.3; */
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1.5%;
}

.content-left {
    padding: 10% 0px;
    color: #fff;
}

.content-left h2 {
    font-size: 28px;
    margin-top: 0;
}

.content-left p {
    font-size: 18px;
    margin-bottom: 30px;
}

.content-left h3 {
    font-size: 20px;
    margin-top: 0;
}

.content-left ul {
    list-style-type: none;
    padding-left: 0;
}

.content-left ul li {
    position: relative;
}

.content-left ul li i {
    position: absolute;
    left: 0;
    top: 0;
}

.content-right {
    text-align: center;
    position: relative;
}

@media (max-width: 1024px) {
    .hero-content {
        margin: 10% 0;
    }

    .content-right {
        text-align: center;
    }

    .content-right>img {
        width: 600px;
    }

    .container {
        padding: 5% 10%;
    }

    .content-left {
        padding: 0;
    }

    .content-left>h3 {
        margin-top: 10%;
    }
}

/* Feature Section */

#features {
    background-color: #262729;
    padding: 60px 0;
    color: #ffffff;
}

.feature-col {
    margin-bottom: 20px;
}

.icon {
    margin-bottom: 10px;
}

h3,
.content-left>p {
    font-weight: 300;
    color: #ffffff;
}

h3 {
    font-weight: bold;
}

/* FAQs Section */

#FAQs {
    background-color: #e1f5f4;
    text-align: center;
    color: #262729;
    z-index: 2;
}

.FAQs-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2%;
}

/* .faq-section {
    background-color: #f8f8f8;
} */

.carousel-inner {
    margin-top: 30px;
}

.carousel-item h3 {
    color: #04d9ff;
    font-weight: bold;
}

.carousel-item p {
    font-weight: normal;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: #0781fe;
}

@media (max-width: 768px) {
    .carousel-inner {
        margin-top: 15px;
    }
}



/* Brokers */
#brokers {
    background-color: #262729;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-top: 4.1rem;
    color: #04d9ff;
}

#brokers>h3 {
    color: #04d9ff;
}

#brokers>div {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 21px;
    text-align: center;
    gap: 11.7rem;
    /* margin-top: 3.5rem; */
}

#brokers>div>p {
    margin-top: 10px;
    color: #FFF;
}

#brokers>div>div>a {
    text-decoration: none;
    color: inherit;
}

.brokers-logo {
    width: 100%;
    max-width: 7.6rem;
}

.partners {
    margin: 0 10%;
}

.partner-icon-box {
    border-radius: 20px;
    border: 5px solid #609;
    padding: 7px;
    margin: auto;
    width: 100px;
    height: 100px;
    background-color: #262729;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
    align-content: center;
}

.partner-icon-box-label {
    margin: 5% 0;
}

/* Offering Section */

#offering {
    text-align: center;
    /* padding: 130px 100px; */
    background-color: #e1f5f4;
    color: #FFF;
}

#offering>h3 {
    color: #0781fe;
}

#offering>hr {
    border-top: 4px solid #0781fe;
    width: 190px;
}

.card {
    border-radius: 1.25rem;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.card-body {
    color: black;
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

.card-title {
    font-weight: bold;
}

.card-text {
    color: black;
    text-align: initial;
}

.price-btn {
    background-color: gray;
    color: white;
}

.price-btn:hover {
    background-color: #04d9ff;
    color: black;
    font-weight: bold;
}

.pricing-column {
    padding: 3% 2%;
}

@media (max-width: 1028px) {
    #title {
        text-align: center;
    }

    .title-image {
        position: static;
        transform: rotate(0);
    }
}

/* Testimonial Section */

#testimonials {
    background-color: #262729;
    text-align: center;
    color: #FFF;
    z-index: 2
}

.testimonials-image {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

.carousel-inner {
    margin-top: 0;
}

.carousel-item {
    padding: 5% 15%;
}

/* Method */
#methodology {
    padding: 0 6.6rem;
    background-color: #e1f5f4;
    color: white;
    text-align: center;
    padding-top: 3rem;
}

.head {
    font-size: 2rem;
    color: #0781fe;
}

.head-hr {
    border-top: 4px solid #0781fe;
    width: 190px
}

.left-method>h3,
.left-method>p,
.check>p {
    color: #262729;
}

.thin-hr {
    border-top: 1px solid #0781fe;
    width: 100%;
}

@media (max-width: 768px) {
    .thin-hr {
        width: 90%;
    }
}

@media (max-width: 480px) {
    .thin-hr {
        width: 80%;
    }
}

.method {
    display: flex;
    gap: 70px;
    align-items: center;
    margin-top: 2.5rem;
}

.left-method {
    display: flex;
    flex-direction: column;
    gap: 20.5px;
    text-align: initial;
}

.right-method>img {
    width: 30rem;
}

.check-icon {
    color: #04d9ff;
    padding-right: 3px;
}

/* Toast */

.toast {
    position: absolute;
    /* top: 25px; */
    right: 30px;
    border-radius: 12px;
    background: #fff;
    padding: 20px 35px 20px 25px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    border-left: 6px solid #4070f4;
    overflow: hidden;
    transform: translateX(calc(100% + 30px));
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.35);
    opacity: 1;
}

.toast.active {
    transform: translateX(0%);
}

.toast .toast-content {
    display: flex;
    align-items: center;
}

.toast-content .check {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    width: 35px;
    background-color: #4070f4;
    color: #fff;
    font-size: 20px;
    border-radius: 50%;
}

.toast-content .toast-message {
    display: flex;
    flex-direction: column;
    margin: 0 20px;
}

.toast-message .text {
    font-size: 20px;
    font-weight: 400;
    ;
    color: #666666;
}

.toast-message .text.text-1 {
    font-weight: 600;
    color: #333;
}

.toast .toast-close {
    position: absolute;
    top: 10px;
    right: 15px;
    padding: 5px;
    cursor: pointer;
    opacity: 0.7;
}

.toast .toast-close:hover {
    opacity: 1;
}

.toast .progress {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    width: 100%;
    background: #ddd;
}

.toast .progress:before {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-color: #4070f4;
}

.progress.active:before {
    animation: progress 2s linear forwards;
}

@keyframes progress {
    100% {
        right: 100%;
    }
}

/* Whatsapp */
.whatsapp-button-holder {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
    position: fixed;
    right: 30px;
    bottom: 30px;
    transition: background 0.25s;
    z-index: 1;
}

.whatsapp-button-holder>a {
    text-decoration: none;
    color: inherit;
}

.whatsapp-button-holder>a>img {
    height: 70px;
    width: 70px;
}

/* News Letter */
.news-letter-holder {
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
    position: fixed;
    right: 30px;
    bottom: 120px;
    transition: background 0.25s;
    border-radius: 50%;
    z-index: 1;
}

.news-letter-holder>button {
    width: 70px;
    height: 70px;
    margin: 0;
    border-radius: 50%;
    border: 0px;
}

.news-letter-form-holder>button>* {
    pointer-events: none;
}

.news-letter-form-holder {
    display: none;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 500px;
    height: fit-content;
    border-radius: 50px;
    background-color: #222324;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
    position: fixed;
    right: 30px;
    bottom: 190px;
    z-index: 1;
    color: #f1f1f1;
}

.news-letter-form-holder>div {
    display: flex;
    flex-direction: row;
    align-self: flex-end;
    margin: 10px;
}

.news-letter-form-holder>hr {
    margin: 0;
}

.news-letter-form-holder>form {
    display: flex;
    flex-direction: column;
}

.news-letter-form-holder>i {
    position: absolute;
    top: 10px;
    right: 15px;
    padding: 5px;
    cursor: pointer;
    opacity: 0.7;
    color: #f1f1f1;
    font-size: 22px;
}

.news-letter-form-holder>table {
    display: block;
    width: 450px;
    height: 250px;
    overflow: scroll;
}

.news-letter-form-holder>table>thead th {
    position: sticky;
}

.news-letter-form-holder>table tr, td, th {
    padding: 10px;
    text-align: center;
}

.news-letter-form-holder>div>button {
    height: 40px;
    margin-right: 20px;
    margin-left: 0px;
}

.news-letter-form-holder>div>a>button {
    height: 40px;
    margin-right: 20px;
    margin-left: 0px;
}

.news-letter-view {
    display: none;
    margin: 10px;
}

@keyframes createBox {
    from {
      transform: scale(0);
    }
    to {
      transform: scale(1);
    }
  }


/* Footer */

#footer {
    background-color: #1e1e1e;
    text-align: center;
    color: white;
    padding: 4.4rem 3.4rem;
    display: flex;
    flex-direction: column;
}

.main-foot {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.left-footer {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.right-footer {
    flex: 3;
    display: flex;
    gap: 9.4rem;
}

.foot-text {
    flex-basis: 25%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.foot-text>p {
    color: #04d9ff;
}

.foot-text>p>a {
    text-decoration: none;
    color: inherit;
}

.foot-text>p:hover {
    text-decoration: underline;
    cursor: pointer;
}

.bold-text {
    font-weight: bold;
    font-size: 17.8px;
    letter-spacing: 1.8px;
}

.company-details {
    text-align: initial;
    font-size: 13.9px;
    color: gray;
}

.foot-icons {
    display: flex;
    gap: 38.2px;
    justify-content: center;
    padding-top: 4.1rem;
}

.foot-icons>a {
    text-decoration: none;
    color: inherit;
}

.font-icon {
    color: #fff;
    font-size: 30px;
}

/* .font-icon */