{% extends 'layout.html' %}
{% load static %}
{% block body %}
<div id="best-match">
  <div class="start-button-holder">
    <h3 class="head"><span style="color: #04d9ff">Suggest Best Prop Firms</span></h3>
    <hr>
    <div class="row" style="margin: 1%;">
      <div class="best-match-left-content col-lg-6 text-center">
        <img src="/page_viewer/assets/bestmatch.png" height="auto" width="400px">
      </div>
      <div class="best-match-right-content col-lg-6">
        <div>
          <h3>Let's Find The Most Suitable Prop Firms For You.</h3>
          <p style="padding: 5% 0;">Let us get to know you better to find the best Prop Firm that can help you reach
            your trading goals. Answer few simple questions to start your journey.</p>
        </div>
        <button class="transparent-button start-button">Find Prop Firm</button>
      </div>
    </div>
  </div>

  <div class="category-card-parent-holder mdl-card mdl-shadow-2dp">
    <div class="category-holder mdl-card-supporting-text">
      <div class="category mdl-stepper-horizontal-alternative">
      </div>
      <img class="category-add" src="/page_viewer/assets/add.svg"></img>
    </div>
  </div>

  <div id="quiz" class="quiz-box">
    <div class="questionnaire-message"></div>
    <ol class="questionnaire">
    </ol>
    <div class="form-operation-button-holder">
      <button class="transparent-button icon-button save-questionnaire-button">
        <svg xmlns="http://www.w3.org/2000/svg" height="48px" viewBox="0 0 24 24" width="48px" fill="#04d9ff">
          <path d="M0 0h24v24H0V0z" fill="none" />
          <path
            d="M17 3H5c-1.11 0-2 .9-2 2v14c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2V7l-4-4zm2 16H5V5h11.17L19 7.83V19zm-7-7c-1.66 0-3 1.34-3 3s1.34 3 3 3 3-1.34 3-3-1.34-3-3-3zM6 6h9v4H6z" />
        </svg>
      </button>
      <button class="transparent-button icon-button add-questionnaire-button add-questionnaire">
        <svg xmlns="http://www.w3.org/2000/svg" height="48px" viewBox="0 0 24 24" width="48px" fill="#04d9ff">
          <path d="M0 0h24v24H0z" fill="none" />
          <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z" />
        </svg>
      </button>
    </div>
    <div class="previous-next-button">
      <button class="transparent-button start-button previous">Previous</button>
      <button class="transparent-button start-button next">Next</button>
      <button class="transparent-button start-button submit">Submit</button>
      <a class="try-again" href="/best-match" style="display: none; text-decoration: none;">
        <button class="transparent-button start-button">Try Again</button>
      </a>
    </div>
  </div>
  <div class="combination-button-holder">
    <button class="transparent-button start-button view-combination">Combinations</button>
    <button class="transparent-button icon-button refresh-combination">
      <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="100" height="100" viewBox="0 0 24 24">
        <path d="M 2 2 L 4.9394531 4.9394531 C 3.1262684 6.7482143 2 9.2427079 2 12 C 2 17.514 6.486 22 12 22 C 17.514 22 22 17.514 22 12 C 22 6.486 17.514 2 12 2 L 12 4 C 16.411 4 20 7.589 20 12 C 20 16.411 16.411 20 12 20 C 7.589 20 4 16.411 4 12 C 4 9.7940092 4.9004767 7.7972757 6.3496094 6.3496094 L 9 9 L 9 2 L 2 2 z"></path>
      </svg>
    </button>
  </div>
  <div id="combo-box" class="quiz-box">
    <div class="combo-table-wrapper">
      <table class="combo-table">
        <thead>
          <tr>
            <th>Serial Number</th>
            <th>Combination</th>
            <th>Prop Firm</th>
            <th>Buttons</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
    <div class="questionnaire-combo-wrapper">
      <ol class="questionnaire-combination">
      </ol>
      <div class="previous-next-button">
        <button class="transparent-button start-button questionnaire-combo-submit">Submit</button>
        <button class="transparent-button icon-button questionnaire-combo-cancel" style="display: none;"><svg
            xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#04d9ff">
            <path d="M0 0h24v24H0V0z" fill="none"></path>
            <path
              d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12 19 6.41z">
            </path>
          </svg></button>
      </div>
    </div>
  </div>
</div>

{% endblock %}