{% extends 'layout.html' %}
{% load static %}
{% block body %}
<!-- Content -->

<section id="content">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 hero-content">
        <div class="content-left">
          <h2 style="color: #04d9ff;">Struggling to decide on the right prop trading firm?</h2>
          <p>Just a 30 second Questionnaire<br>
            Complete few quick questions to discover your ideal Prop Firm  - a speedy 30-second wizard to help you find the perfect match you've been seeking. 👁️🔍</p>
          <h3 style="color: #04d9ff;">How It Works</h3>
          <ul>
            <li><i style="color: #04d9ff;"></i>🌟 Select Your Preferences</li>
            <li><i style="color: #04d9ff;"></i>🧠 Intelligent Select Expertly Refines Top Prop Trading Firms</li>
            <li><i style="color: #04d9ff;"></i>✨ Witness Your Perfect Match Unveiled!</li>
          </ul>
        </div>
      </div>
      <div class="col-lg-6 hero-content">
        <div class="content-right">
          <img src="/page_viewer/assets/gif/heroImage.gif" height=auto width="400px"></img>
        </div>
      </div>
    </div>
  </div>
</section>


<!-- Features -->

<section id="features">
  <div class="row" style="margin: 0;">
    <div class="col-lg-4 feature-col text-center">
      <i class="icon fas fa-search fa-3x" style="color: #04d9ff; "></i>
      <h3 style="color: #04d9ff">Quick Search</h3>
      <p>Quickly find your desired prop trading firm in seconds with ease!</p>
    </div>
    <div class="col-lg-4 feature-col text-center">
      <i class="icon fas fa-filter fa-3x" style="color: #04d9ff; "></i>
      <h3 style="color: #04d9ff">Smart Filtering</h3>
      <p>Intelligent filtering system to narrow down your options.</p>
    </div>
    <div class="col-lg-4 feature-col text-center">
      <i class="icon fas fa-handshake fa-3x" style="color: #04d9ff; "></i>
      <h3 style="color: #04d9ff">Trusted Propfirms</h3>
      <p>Connect with reliable and trusted propfirm.</p>
    </div>
  </div>
</section>


<!-- FAQs -->

<section id="FAQs" class="faq-section">
  <div class="FAQs-container">
    <div class="row">
      <div class="col-12">
        <h3 class="head" style="margin-top: 50px; color: #0781fe">FAQs </h3>
        <hr style="border-top: 4px solid #0781fe; width: 190px;">
      </div>
    </div>
  </div>
  <div id="FAQs-carousel" class="carousel slide" data-ride="false">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <h3><span style="color: #262729; font-weight: bold">Can I trust the Propfirm recommended by JamtsonFx?</span></h3>
        <p>"Indeed, you can trust JamtsonFX's recommended prop trading firms. We anonymously test them, evaluate payout processes, and consult with funded traders for authentic feedback."</p>
      </div>
      <div class="carousel-item">
        <h3><span style="color: #262729; font-weight: bold">Why did not include spread, leverage, slippage etc  in your Questionnaire?</span></h3>
        <p>“We understand that everyone wants the best trading conditions. Our questions are designed to get the important information without wasting your time on unnecessary ones.”</p>
      </div>
      <div class="carousel-item">
        <h3><span style="color: #262729; font-weight: bold">Do you sell any Signal, EAs, propfirm passing service?</span></h3>
        <p>“We do not engage in sales activities; all our content and services are provided to you free of charge.”</p>
      </div>
      <!-- Add more FAQ items as needed -->
    </div>
    <a class="carousel-control-prev" href="#FAQs-carousel" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#FAQs-carousel" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</section>


<!-- Top Partners -->

<section id="brokers">
  <h3 class="head" style="text-align: center">Our <span style="color: #04d9ff">Top Prop Firms</span></h3>
  <hr style="border-top: 4px solid #0781fe; width: 400px;">
  <div class="container">
    <div class="row">
      <div class="col-md-6" style="margin: 5% auto;">
        <a href="https://the5ers.com/?ref=21745" target="_blank" rel="noopener noreferrer" style="text-align: center; text-decoration:none">
          <div class="partner-icon-box">
            <img class="brokers-logo" src="/page_viewer/assets/the5ers.png" alt="The 5%Ers-logo">
          </div>
          <p class="partner-icon-box-label">The 5%Ers</p>
        </a>
      </div>
      <div class="col-md-6" style="margin: 5% auto;">
        <a href="https://fundednext.com/?fpr=tenzin80" target="_blank" rel="noopener noreferrer"  style="text-align: center; text-decoration:none">
          <div class="partner-icon-box">
            <img class="brokers-logo" src="/page_viewer/assets/fundedNext.png" alt="Funded Next-logo">
          </div>
          <p class="partner-icon-box-label">Funded Next</p>
        </a>
      </div>
      <div class="col-md-6" style="margin: 5% auto;">
        <a href="https://www.fundedtradingplus.com/?ref=240" target="_blank" rel="noopener noreferrer"  style="text-align: center; text-decoration:none">
          <div class="partner-icon-box">
            <img class="brokers-logo" src="/page_viewer/assets/fundedTradingPlus.png" alt="Funded Trading Plus-logo">
          </div>
          <p class="partner-icon-box-label">Funded Trading Plus</p>
        </a>
      </div>
      <div class="col-md-6" style="margin: 5% auto;">
        <a href="https://trader.smartproptrader.com/?affiliateId=232" target="_blank" rel="noopener noreferrer"  style="text-align: center; text-decoration:none">
          <div class="partner-icon-box">
            <img class="brokers-logo" src="/page_viewer/assets/smartPropTrader.png" alt="Smart Prop Trader-logo">
          </div>
          <p class="partner-icon-box-label">Smart Prop Trader</p>
        </a>
      </div>
    </div>
  </div>
</section>


<!-- offering -->

<section id="offering">
  <div style="margin: 5%;">
    <h3 class="head">Our <span style="color: #0781fe">Offerings </span></h3>
    <hr style="border-top: 4px solid #0781fe; width: 300px;">
    <div class="container">
      <div class="row" style="margin-top:50px; height: 500px; padding: 0.7%;">
        <div class="col-lg-3 col-md-6">
          <div class="card">
            <img src="/page_viewer/assets/offeringDiscount.png" alt="tc-logo" class="card-img-top">
            <div class="card-body">
              <h5 class="card-title" style="color: #262729; text-align: left;">Offer and Discount</h5>
              <p class="card-text"  style="color: #262729;"> Latest Offer/Discount In Propfirms.</p>
              <a href="/discount" class="btn price-btn">Learn more</a>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="card">
            <img src="/page_viewer/assets/offeringPropFirm.png" alt="tc-logo" class="card-img-top">
            <div class="card-body">
              <h5 class="card-title"  style="color: #262729;">Unbiased Information</h5>
              <p class="card-text"  style="color: #262729;">Unbiased information related to propfirms</p>
              <a href="/prop-firms" class="btn price-btn">Learn more</a>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="card">
            <img src="/page_viewer/assets/offeringBestMatch.png" alt="tc-logo" class="card-img-top">
            <div class="card-body">
              <h5 class="card-title"  style="color: #262729;  text-align: left;">Custom Suggestion</h5>
              <p class="card-text"  style="color: #262729;">Best Propfirm according to your trading style and preferance.</p>
              <a href="/best-match" class="btn price-btn">Learn more</a>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="card">
            <img src="/page_viewer/assets/offeringSupport.png" alt="tc-logo" class="card-img-top">
            <div class="card-body">
              <h5 class="card-title"  style="color: #262729;">24/7 Support</h5>
              <p class="card-text"  style="color: #262729;">Exceptional support for users who join through our affilliate links.</p>
              <a href="https://api.whatsapp.com/send?phone=919007381678&text=Hey%2C%20JamtsonFX%20Team%20!" class="btn price-btn"  target="_blank" rel="noopener noreferrer">Learn more</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Testimonials -->

<section id="testimonials">
  <div id="testimonial-carousel" class="carousel slide" data-ride="false">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <h3>“Jemtson fx is best and very genuine person i am his Clint from last year and I am proudly saying he is best person and problem solving person always helpful.. I have never face any payment releted issue and account related issue from his side. If any one wants to join any propfirm please go thrue Jamatson fx. Thanks”</h3>
        <img class="testimonials-image" src="/page_viewer/assets/user.png" alt="user-profile1">
        <em>Amit Shah</em>
      </div>
      <div class="carousel-item">
        <h3>“My experience with Jamtson FX was really awesome.The support was really friendly and supportive and helping you out with payment issues with prop firm within a blink of an eye.I highly recommend aspiring traders to really utilise their service.”</h3>
        <img class="testimonials-image" src="/page_viewer/assets/user.png" alt="user-profile2">
        <em>Manu</em>
      </div>
      <div class="carousel-item">
        <h3>“Genuine and professional attitude and great initiative for Indian traders are commedable.kudos to JamtsonFx team.”</h3>
        <img class="testimonials-image" src="/page_viewer/assets/user.png" alt="user-profile2">
        <em>Suthardinesh</em>
      </div>
      <div class="carousel-item">
        <h3>“Jamtson FX is a very supportive, Knowledgeable and trustworthy man...He has done tremendous work on profirm industry in India to help out needy and professional trader....Hats off the ur work...well done.”</h3>
        <img class="testimonials-image" src="/page_viewer/assets/user.png" alt="user-profile2">
        <em>Ritu Gurjar</em>
      </div>
      <div class="carousel-item">
        <h3>“there are so easy to work With you. Thanks for Prompt reply and Supporting.”</h3>
        <img class="testimonials-image" src="/page_viewer/assets/user.png" alt="user-profile2">
        <em>Bhushan Suresh</em>
      </div>
      <div class="carousel-item">
        <h3>“Indian traders benefit greatly from JamtsonFX. Their comprehensive insights into prop firms elevate trading experiences, solidifying their importance.”</h3>
        <img class="testimonials-image" src="/page_viewer/assets/user.png" alt="user-profile2">
        <em>Shahrukh Shaikh</em>
      </div>
      <div class="carousel-item">
        <h3>“Helpful, right guidance, supportive.”</h3>
        <img class="testimonials-image" src="/page_viewer/assets/user.png" alt="user-profile2">
        <em>Kuchimanchi</em>
      </div>
      <div class="carousel-item">
        <h3>“The first thing I would like to tell you is this.  Sir, I was getting many doubts regarding the prop firm platform rules.  But then  I connect with you...and you cleared all those doubts in a very good way & explain well about prop firm platform rules 😊.... Thank You Soo much @Jamtson Sir 🤍”</h3>
        <img class="testimonials-image" src="/page_viewer/assets/user.png" alt="user-profile2">
        <em>J B YADAV</em>
      </div>
    </div>
    <a class="carousel-control-prev" href="#testimonial-carousel" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#testimonial-carousel" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</section>

<!-- Methodology -->
<!-- <section id="methodology">
  <h3 class="head">Our <span style="color: #0781fe">Methodology</span></h3>
  <hr class="head-hr">
  <div class="method">
    <div class="left-method">
      <h3>Lorem ipsum dolor sit amet, consectetur</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
      <div class="check">
        <p><i class="fas fa-check" style="color: #0781fe; padding-right: 7px;"></i>Lorem ipsum dolor sit amet,
          consectetur</p>
        <p><i class="fas fa-check" style="color: #0781fe; padding-right: 7px;"></i>Lorem ipsum dolor sit amet,
          consectetur</p>
        <p><i class="fas fa-check" style="color: #0781fe; padding-right: 7px;"></i>Lorem ipsum dolor sit amet,
          consectetur</p>
      </div>
    </div>
    <div class="right-method">
      <img src="{% static 'images/Privacy policy-rafiki.png' %}" alt="..." />
    </div>
  </div>
  <hr class="thin-hr">
  <div class="method">
    <div class="right-method">
      <img src="{% static 'images/Privacy policy-rafiki.png' %}" alt="..." />
    </div>
    <div class="left-method">
      <h3>Lorem ipsum dolor sit amet, consectetur</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
      <div class="check">
        <p><i class="fas fa-check" style="color: #0781fe; padding-right: 7px;"></i>Lorem ipsum dolor sit amet,
          consectetur</p>
        <p><i class="fas fa-check" style="color: #0781fe; padding-right: 7px;"></i>Lorem ipsum dolor sit amet,
          consectetur</p>
        <p><i class="fas fa-check" style="color: #0781fe; padding-right: 7px;"></i>Lorem ipsum dolor sit amet,
          consectetur</p>
      </div>
    </div>
  </div>
  <hr class="thin-hr">
  <div class="method">
    <div class="left-method">
      <h3>Lorem ipsum dolor sit amet, consectetur</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
      <div class="check">
        <p><i class="fas fa-check" style="color: #0781fe; padding-right: 7px;"></i>Lorem ipsum dolor sit amet,
          consectetur</p>
        <p><i class="fas fa-check" style="color: #0781fe; padding-right: 7px;"></i>Lorem ipsum dolor sit amet,
          consectetur</p>
        <p><i class="fas fa-check" style="color: #0781fe; padding-right: 7px;"></i>Lorem ipsum dolor sit amet,
          consectetur</p>
      </div>
    </div>
    <div class="right-method">
      <img src="{% static 'images/Privacy policy-rafiki.png' %}" alt="..." />
    </div>
  </div>
  <hr class="thin-hr">
  <div class="method">
    <div class="right-method">
      <img src="{% static 'images/Privacy policy-rafiki.png' %}" alt="..." />
    </div>
    <div class="left-method">
      <h3>Lorem ipsum dolor sit amet, consectetur</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
      <div class="check">
        <p><i class="fas fa-check" style="color: #0781fe; padding-right: 7px;"></i>Lorem ipsum dolor sit amet,
          consectetur</p>
        <p><i class="fas fa-check" style="color: #0781fe; padding-right: 7px;"></i>Lorem ipsum dolor sit amet,
          consectetur</p>
        <p><i class="fas fa-check" style="color: #0781fe; padding-right: 7px;"></i>Lorem ipsum dolor sit amet,
          consectetur</p>
      </div>
    </div>
  </div>
</section> -->
{% endblock %}