{% load static %}
<!-- <section id="title"> -->
  <!-- Nav Bar -->
  <!-- <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #222324;">
    <a class="navbar-brand" href="/" style="margin-left: 7px; margin-top: 7px;"><img src="/page_viewer/assets/JamtsonsFX.png" alt="JamtsonsFX Logo" height=auto width="250px"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a href="/">HOME</a>
        </li>
        <li class="nav-item">
          <a href="/best-match">BEST MATCH?</a>
        </li>
        <li class="nav-item">
          <a href="/prop-firms">PROPFIRMS</a>
        </li>
        <li class="nav-item">
          <a href="/discount">DISCOUNT/OFFER</a>
        </li>
      </ul>
    </div>
  </nav> -->


  <nav>
    <!--Sidebar-->
    <ul class="sidebar">
        <li class="collapse-button"><a href="#"><svg xmlns="http://www.w3.org/2000/svg" height="26" viewBox="0 -960 960 960" width="26" fill="white"><path d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"/></svg></a></li>
        <li><a href="/">Home</a></li>
        <li><a href="/best-match">Best Match</a></li>
        <li><a href="/prop-firms">Prop Firms</a></li>
        <li><a href="/discount">Discount</a></li>
    </ul>

    <!--Navbar-->
    <ul>
        <li><a href="/"><img src="/page_viewer/assets/JamtsonsFX.png" alt="JamtsonsFX Logo" height=auto width="250px"></a></li>
        <li class="hideOnMobile"><a href="/">Home</a></li>
        <li class="hideOnMobile"><a href="/best-match">Best Match</a></li>
        <li class="hideOnMobile"><a href="/prop-firms">Prop Firms</a></li>
        <li class="hideOnMobile"><a href="/discount">Discount</a></li>
        <li class="menu-button nav-menu-button"><a href="#"><svg xmlns="http://www.w3.org/2000/svg" height="26" viewBox="0 -960 960 960" width="26" fill="white"><path d="M120-240v-80h720v80H120Zm0-200v-80h720v80H120Zm0-200v-80h720v80H120Z"/></svg></a></li>
    </ul>
</nav>
<!-- </section> -->